<!DOCTYPE HTML>
{% load static %}
<html lang="nl">
<head>
    <title>{{title}}</title>
</head>

<body bgcolor="FF9900" text="000000" link="0000ff" vlink="990000">

<br>
<center>
 <h1 style="font-size:100%;padding:0px;margin:0px">
  <font face="century gothic"  size="+1" >
   gaaf forum
  </font>
 </h1>
</center>

<br />
Hun zijn niet gaaf
<center>
 <table cellpadding=5>
  <tr>
   <td align=center><font face="century gothic"  size="+1" ><a href="http://www.network54.com/Forum/95272/post" rel="nofollow">Post now!</a></font></td>
   <td align=center><font face="century gothic"  size="+1" ><a href="http://www.network54.com/Forum/95272/search">Search</a></font></td>
   <td align=center><font face="century gothic"  size="+1" ><a href="/Chat/47654">Chat!</a></font></td>
   <td align=center><font face="century gothic"  size="+1" ></font></td>
  </tr>
 </table>
</center>

<br>

<BR>
<center>
 <table width=90% border=0 cellspacing=1 cellpadding=3>
  <tr>
   <td bgcolor=9966FF align=center width=70%><b><font face="century gothic"  size="-1" >Boodschap Titel</font></b></td>
   <td bgcolor=9966FF align=center width=30%><b><font face="century gothic"  size="-1" >Auteur en Datum</font></b></td>
  </tr>
  {% for item, info in tree %}
  <tr>
   <td bgcolor=EEEEEE width=70%><font face="century gothic"  size="-1" >{% for i in info.depthrange %}&nbsp;{% endfor %}{{item.title}}</font></td>
   <td bgcolor=EEEEEE width=30% align=center><font face="century gothic"  size="-1" ><b>{{item.author}}</b> 
   op {{ item.timestamp|date:"d M Y" }}</font></td>
  </tr>
  {% endfor %}
  <tr>
   <td bgcolor=EEEEEE width=70%><font face="century gothic"  size="-1" ><a href="http://www.network54.com/Forum/95272/message/1389628889/eerste+van+2014%21">eerste van 2014!</a></font></td>
   <td bgcolor=EEEEEE width=30% align=center><font face="century gothic"  size="-1" ><b>h</b> op Jan 13</font></td>
  </tr>
 </table>
</center>

<p>
<center>
<table border=0 width=60%>
<tr>
    <td align=center><font face="century gothic"  size="-1" >1&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-2">2</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-3">3</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-4">4</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-5">5</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-6">6</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-7">7</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-8">8</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-9">9</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-10">10</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-11">11</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-12">12</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-13">13</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-14">14</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-15">15</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-16">16</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-17">17</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-18">18</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-19">19</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-20">20</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-21">21</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-22">22</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-23">23</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-24">24</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-25">25</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-26">26</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-27">27</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-28">28</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-29">29</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-30">30</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-31">31</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-32">32</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-33">33</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-34">34</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-35">35</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-36">36</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-37">37</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-38">38</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-39">39</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-40">40</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-41">41</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-42">42</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-43">43</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-44">44</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-45">45</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-46">46</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-47">47</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-48">48</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-49">49</a>&nbsp;
    <a href="http://www.network54.com/Forum/95272/page-50">50</a>&nbsp;<p></font>
    </td>
</tr>
</table>

</center>

<table border="0" cellPadding="0" cellSpacing="0" width=580>
<tr>
    <td width="140" valign="bottom"></td><td valign="bottom" nowrap><font color="#666666" size="-2">
    &nbsp;Copyright 
    &copy;1999-2017 
    <font color=#666666 size=-2>Network54 and gijsbertbas</font>. 
    All rights reserved. &nbsp;&nbsp;</font>
    <font color=#666666 size=-2>
    Terms of Use </font>&nbsp;&nbsp;
    <font color=#666666 size=-2>
    Privacy Statement</font>
    <font color=#666666 size=-2>&nbsp;&nbsp;</font>
    </td>
</tr>
</table>
<p>
Die gast is altijd gaaf!</font>

</body>

</html>
